body,
html {
height: 100%;
}
body{
    background-image: url("https://thumbs.gfycat.com/AnimatedNeatAfricanelephant-size_restricted.gif");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}
.background {
    background-image: url("https://thumbs.gfycat.com/AnimatedNeatAfricanelephant-size_restricted.gif");
    height: 100%;

    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
 font-family: 'Nanum Gothic', sans-serif;
 text-size-adjust: auto;
}

.col {
  margin: 20px;
  padding:10px;
  box-sizing: border-box
}
/* Navbar Styles */
.navbar-brand { 
    font-family: 'Amatic SC', cursive !important;
    font-size: 28px;
 }

#navbarNav {
  font-family: 'Amatic SC', cursive !important;
  font-size: 28px;
}
.page-footer {
  font-family: 'Amatic SC', cursive !important;
  font-size: 26px;
}
.proLink{
  margin-left: auto !important;
}
.linkdin{
  width: 40px;
  height: 40px;
  /* background-color: rgb(37,162,183); */
  padding: 15px;
  border-radius: 8px;
}


/* Form style */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box; 
    margin-bottom: 16px;
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #6760cf;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: auto 500px
  }
  

  input[type=submit]:hover {
    background-color: #3b3c8a;
  }
  
  .formCon{
    display: flex;
    border-radius: 8px;
    background-color: rgb(211, 211, 211);
    padding: 20px;
    margin: auto;
    font-family: 'Nanum Gothic', sans-serif;
  }
  /* Index Styles */
.content-row {
  width: fit-content;
}

#img-col {
  flex-wrap: wrap;
  height:fit-content;
  align-items: center;
  border-radius: 8px;
  
  
}
#text-col{
  align-self: flex-start;
  height:fit-content;
  flex-wrap:wrap;
  border-width: 3px !important;
  background-color: lightgray;
  margin-bottom: 100px;

  }
/* Portfolio Card Style */
.portfolio-card{
display:flex;
justify-content: center;
margin: 50px auto;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #ccc;
}


.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  width: fit-content;
}
.panelDisplay{
  display:block
}
.accImg {
  width: 25%;
  height: 25%;
}

/* Contact Styles */
