body,
html {
height: 100%;
}
body{
    background-image: url("https://thumbs.gfycat.com/AnimatedNeatAfricanelephant-size_restricted.gif");
    background-size: cover;
    background-repeat: no-repeat;
}
.background {
    background-image: url("https://thumbs.gfycat.com/AnimatedNeatAfricanelephant-size_restricted.gif");
    height: 100%;

    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#fakeRex:hover{
    content: url(Assets/IMG_3093.jpg)
}

p{
 font-family: 'Nanum Gothic', sans-serif;
}

.col {
margin: 20px;
 padding:10px;
 background-color: lightgray;
 box-sizing:border-box
}

.navbar-brand { 
    font-family: 'Amatic SC', cursive !important;
    font-size: 28px;
     }
#navbarNav {
font-family: 'Amatic SC', cursive !important;
font-size: 28px;
}
.page-footer {
font-family: 'Amatic SC', cursive !important;
    font-size: 26px;
}

/* Form style */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box; 
    margin-bottom: 16px;
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #6760cf;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: auto 500px
  }
  

  input[type=submit]:hover {
    background-color: #3b3c8a;
  }
  
  .container {
    display: flex;
    border-radius: 8px;
    background-color: rgb(211, 211, 211);
    padding: 20px;
    margin: auto;
    font-family: 'Nanum Gothic', sans-serif;
  }
#img-col {
  display:flex;
  min-height:fit-content;
  align-items: center;
  border-radius: 8px;
}
#text-col{
  align-self: flex-start;
  min-height:fit-content;
  border-radius: 8px;

  }
/* Portfolio Card Style */
.portfolio-card{
display:flex;
justify-content: center;
margin: 50px auto;
}

/* Contact Styles */
.linkdin{
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 8%;
  background-color: rgb(37,162,183);
  margin: 25px 610px;
  border-radius: 20px
}
