body,
html {
height: 100%;
}

.background {
    background-image: url("https://thumbs.gfycat.com/AnimatedNeatAfricanelephant-size_restricted.gif");
    height: 100%;

    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;